/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2020, 6:37:46 PM
    Author     : rishvaiyer
*/



.landingimage {
    width: 100%;
    height: 100%;
}

body {

    margin: 0;  
    padding: 0;

    font-family: Courier New;
    font-size: 18px;
    color: white;
}


.container {
    width: 100%;
}


.imageContainer {
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 24px;
    box-sizing: border-box; 
}

img {
    width: 100%;
    height: 100%;
    margin: 3%;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.section {
    box-sizing: border-box; 
    padding: 20px;
    color: white;
    font-family: Courier New;
    text-align: center;
}


#landingPage {
    padding-top: 150px;
    text-align: left;
    background-color: #4d1f2b; 


}

#informationalPage {
    background-color: #272838;
    font: white;
    text-align: center;
    font-family: Courier New;
}



#formPage {
    background-color: #4d6a6d;
    color: white;
    font-family: Courier New;
}



#methodSection {
    background-color: #798478;
    color: white;
    font-family: Courier New;
}

footer {
    text-align: center;
    background-color: #000000;
    opacity: 80%;
    color:white;
    padding: 3px;
    font-family: Courier New;
}


h2{
    font-size: 25px;
    color: #f4f6e1;
}


#navbar {
    display: block;
    word-spacing: 9999999px;
    position: fixed;
    top: 0px;
    z-index: 3;
    background-color: black;
    height: 30px;
    width: 100%;
 
    float: left;
    text-align:center;
    font-size:20px;
    padding-bottom: 125px;
    padding-top:15px;
    margin: 0 auto;
    font-family: courier new;
    text-decoration: none;
    color: white;
    opacity: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    background-color: black;
    text-decoration-line: underline;


}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
    background-color:#333333;

}

#imagePage {
    background-color: #999900;
    font: white;
    text-align: center;
    font-family: Courier New;
}

.info1{

    text-align: left;

}

.info2 {

    text-align: left;
}

.info3 {

    text-align: left;
}      
p {
    font-size:20px;
    font-weight: bold;
    color:#fafafa;
    text-decoration: underline overline;
}
@media screen and (min-width: 500px) {



    body {

        margin: 0;  
        padding: 0;

        font-family: Courier New;
        font-size: 18px;
        color: white;
    }
    .container {
        margin: auto;       
        max-width: 1000px;  
    }

    #navbar {
        word-spacing: 30px;
        position: absolute;
        top: 0px;
        z-index: 3;
        background-color: #000000;
        opacity: 80%;
        height: 8px;
        width: 100%;

        text-align:center;
        font-size:15px;
        padding-bottom: 40px;
        padding-top:32px;
        margin: 0 auto;
        font-family: courier new;
        text-decoration: none;
        color: white;

        box-sizing: border-box;
    }

    a:link {
        color: white;
        text-decoration: none;
    }

    /* visited link */
    a:visited {
        color: white;
        text-decoration: none;
    }

    /* mouse over link */
    a:hover {
        background-color: black;
        text-decoration-line: underline;


    }

    /* selected link */
    a:active {
        color: white;
        text-decoration: none;
        background-color:#333333;

    }
    .leftside {
        float: left;
        width: 49%;
        margin-right: 1%;
        box-sizing: border-box; 
        padding-right: 100px;
    }

    .rightside {
        float: right;
        width: 49%;
        margin-left: 1%;
        box-sizing: border-box; 
    }

    .clear {
        clear: both;
    }


    .info1{
        float:left;
        width: 33%;

        padding-right: 2%;
        box-sizing: border-box; 
        text-align: left;

    }

    .info2 {
        float: left;
        width: 33%;

        padding-right: 2%;
        box-sizing: border-box; 
        text-align: left;
    }

    .info3 {
        float: right;
        width: 33%;

        box-sizing: border-box; 
        text-align: left;
    }      


    .form {
        text-align: left;
    }



    #imagePage {
        background-color: #999900;
        font: white;
        text-align: center;
        font-family: Courier New;
    }


    .imageContainer1 {
        width: 33%;
        padding-right: 4%;
        float: left;
        padding-bottom:100px;
        box-sizing: border-box;
    }
}

.landingimage {
    float: left; 
    width: 30%;
    padding: 1%;
}



